{% extends "themes/base_visitor.html.twig" %}

{% block title %} - Contact{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Contact</h1>

    <div class="container">
        
    <div>
{% endblock %}