{% extends "themes/base_visitor.html.twig" %}

{% block title %} - Qui sommes-nous ?{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Qui sommes-nous ?</h1>

    <div class="container mt-4">
    <img src="{{ asset('images/static/handfruit.jpg') }}" class="img-fluid my-4 rounded-circle mx-auto d-block" width="50%" alt="Le fruit de cajou">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, itaque blanditiis! Ipsam corporis distinctio consequatur quidem deleniti numquam non laudantium eius accusamus cupiditate? Modi soluta accusantium in expedita iusto unde!
    <br>
    At voluptas aspernatur soluta quam aliquam expedita a facere aliquid obcaecati, hic suscipit, odit velit cum, sed nulla atque! Facere, fuga culpa? Commodi, maiores corporis odio deleniti nobis laborum. Distinctio?
    <br>
    Modi natus sunt, expedita officiis laborum fuga ducimus labore. Cumque vero ullam molestias officia velit quidem assumenda rem magni aspernatur, officiis blanditiis modi magnam dicta itaque veniam fugiat quas molestiae.
    <br>
    Ipsa harum velit alias dolor, assumenda perspiciatis nemo magnam quis reiciendis corrupti facere illum architecto aspernatur distinctio, quidem nulla! Labore illum voluptates corporis doloremque. Ad quod a dolorum. Tempore, corporis!
    <br>
    Quas iure accusamus rerum. Ipsa tempora, animi quia quidem delectus autem magnam corporis deleniti aspernatur ipsam, iste cum. Nesciunt quia eaque delectus explicabo et a iste blanditiis repellendus recusandae sequi?</p>

    <img src="{{ asset('images/static/mainImage-source-13475903.jpg') }}" class="img-fluid mt-3 text-center mx-auto d-block" alt="L'anacardier">
    </div>



{% endblock %}